// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
:root{
    padding: 10px;
    max-width: 1600px;
    margin-left: 3%;
}
body{
    background-image: url('../../../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: 120vh 110vh;
    background-position:  bottom 100% right -1%;
    margin-top: 1%;
}

main.main{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;

    
}

.tittle-main{
    margin-bottom: 4%;
    h1{
        @include font-tittle;
        width: 800px;
        margin: 0px;
        margin-bottom: 0.5%;
    }
    strong{
        color:$primary-color;
        font-weight: normal;
        

    }
    p.description-tittle{
        @include font-primary;
        width: 719px;
        margin-top: 0;
        color:#909090;
        font-size: 24px;
        margin-bottom: 3%;

    }
    .button-main{
        a{
            text-decoration: none;
            color: white;
            background-color: $primary-color;
            padding: 15px 30px;
            font-family: $primary-font;
        }
    }
    .button-main:hover{
        a{
            background-color:  #6cb9b3;

            
        }
    }

}

aside.aside-main{
    display: flex;
    gap: 5%;
    margin-bottom: 2%;
    div{
        p:first-child{
            font-family: $tittle-font;
            font-size: 40px;
            margin: 0;
            margin-bottom: 5px;
        }
        p:nth-child(2){
            font-family: $primary-font;
            font-size: 18px;
            color: #909090;
            margin: 0;
            

        }
    }


}

